@use '../../sass/index.scss' as *;

.profile{ 
    position: relative;
    @include flex(center, center);
    height: 100vh;
    flex: 2;
    background: radial-gradient(circle, rgba(46,46,46,0.7) 20%, rgba(0,0,0,0.6) 60%), url('../../assets/profile_bg2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    
    &__container{
        position: relative;
        @include flex(center, space-between);
        width: 400px;
        height: 600px;
        margin: auto;
        position: relative;
        z-index: 1;
        background-color: rgba(214, 210, 210, 0.2);
        transition: 0.3s;
        flex-direction: column;
        border-radius: 30px;
        box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.2);

        @include mobile{
            width:300px;
            height: 500px;
        }

        &__img{
            @include flex(center, center);
            flex: 0;
            width: 100%;
            position: relative;
    
            img{
                width: 100%;
                height: 100%;
                border-radius: 20px;
                border: 1px solid var(--color-4);
                transition: 0.5s ease-in-out all;
                object-fit: cover;
                opacity: 0.7;
            }
    
            :hover{
                opacity: 0.8;
            }
    
            :hover.overlay{
                opacity: 1;
            }
    
            .overlay {
                transition: 0.5s ease;
                opacity: 0;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                text-align: center;
              }
        }

        &__text{
            flex: 3;
            width: 100%;
            @include flex(center, center);
            flex-direction: column;
            text-align: center;
            //background-color: rgba(22, 20, 20, 0.4);
            border-bottom: 1px solid #636b6f;
            color: $black;
            margin-bottom: 50px;
            letter-spacing: 2px;
    
            h3{
                color: #c9bdbd;
                font-weight: 800;
                font-size: 22px;
    
                @include mobile{
                    font-size: 20px;
                }
            }
    
            h4{
                text-transform: capitalize;
                margin-bottom: 10px;
                font-weight: 500;
                font-size: 22px;
                color: #b2babe;
                //color: $white;
    
                @include mobile{
                    font-size: 20px;
                }
            }
        }
    }


}
